:root {
    --primary: #afabab;
    --secondary: #fcfcfc;
    
}
body {
    background-color: var(--secondary);
    margin: 0;
    padding: 0;
}

.h-background {
    background-image: linear-gradient(to top right, #1b5dc0, #3405a3);
    color: var(--secondary);
    text-align: center;
    height: 50px;
}

.search {
    padding: 0 0 5px 0;
    border-bottom: 3px solid var(--secondary);
}

#city {
    display: block;
    max-width: 65%;
}
.btn {

    background-color: #07a8f3;
    color: var(--secondary);
    display: block;
    min-width: 65%;
}

.searched-city {
    background-color: var(--primary);
}

#searched-city-name,
#current-date,
#weather-icon {
    display: inline-block;
    margin: 5px;
}

#uv-index-value {
    display: inline-block;
    width: fit-content;
    border-radius: 3px;
    padding: 0 5px;
    color: var(--secondary);
}

#previous-search {
    background-color: var(--primary);
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
}

#card-style {
    width: 200px;
}

#weather-forecast-container {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #232758;
    color: var(--secondary);
    margin: 2px;
}

