:root {
    --primary: #afabab;
    --secondary: #fcfcfc;
    
}
body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}

.h-background {
    background-image: linear-gradient(to top right, #1b5dc0, #3405a3);
    color: var(--secondary);
    text-align: center;
    height: 50px;
}

.btn {

    background-color: #07a8f3;
    color: var(--secondary);

}

#weather-icon {
    height: 50px;
    width: 50px;
}

#uv-index-value {
    display: inline-block;
    /* color: var(--secondary); */
    width: fit-content;
    border-radius: 3px;
    padding: 0 5px;

}

#card-style {
    width: 200px;

}

#weather-forecast-container {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #232758;
    color: var(--secondary);
}